.block_course_results table.grades .number,
.block_course_results table.grades .grade {
    text-align: right;
    width: 10%;
}

.block_course_results table.grades {
    text-align: left;
    width: 100%;
}

.block_course_results table.grades caption {
    margin: 1em 0px 0px 0px;
    border-bottom: 1px solid;
    font-weight: bold;
}

.block_course_results h1 {
    margin: 4px;
    font-weight: bold;
    font-size: 1.1em;
}
